<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA GOAT Calculator</title>
    <link href="{{url_for('static', filename = 'styles/style.
    css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Header 1</h1>
<p>{{status}} and {{temp}}</p>
<p>{{status}} and {{temp}}</p>

    <form action="/"></form>
        <input type="text" name="city" id="city"
        placeholder="Enter text here." />
        <button type="submit">Submit</button>
    
</body>
</html>